{
  "extends" : "../.eslintrc",
  "env"     : {
    "mocha" : true
  },
  "globals" : {
    "expect" : false,
    "should" : false,
    "sinon"  : false,
    "document": true
  },
  "rules": {
    "no-unused-expressions": [0]
  }
}